In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [42]:
def prepare_data(data):
    X, y = [], []
    sequenceLength = int(len(data)/10)
    X = data[:len(data)-sequenceLength]
    y  = data[len(data)-sequenceLength:]
    return X, y

In [43]:
df = pd.read_csv("../Dataset/global_cases.csv")
df.head()

       Date  Cases
0  22/01/20    557
1  23/01/20    657
2  24/01/20    944
3  25/01/20   1437
4  26/01/20   2120

In [44]:
cases = df['Cases'].values

In [45]:
trainData, testData = prepare_data(cases)