In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

In [2]:
df = pd.read_csv("../Dataset/global_cases.csv")
df.head()

       Date  Cases
0  22/01/20    557
1  23/01/20    657
2  24/01/20    944
3  25/01/20   1437
4  26/01/20   2120

In [3]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%y')

In [4]:
df.head()

        Date  Cases
0 2020-01-22    557
1 2020-01-23    657
2 2020-01-24    944
3 2020-01-25   1437
4 2020-01-26   2120

In [5]:
n_steps = 3

def split_sequence(sequence, n_steps):
    X, y = [], []
    for i in range(len(sequence)):
        end_ix = i + n_steps
        if end_ix > len(sequence)-1:
            break
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)

X, y = split_sequence(df['Cases'].values, n_steps)

In [6]:
n_features = 1 
X = X.reshape((X.shape[0], X.shape[1], n_features))

In [7]:
model = Sequential([
    LSTM(50, activation='relu', input_shape=(n_steps, n_features)),
    Dense(1)
])

/Users/swoyamsiddharth/Library/Python/3.9/lib/python/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [8]:
model.compile(optimizer='adam', loss='mse')

In [9]:
model.fit(X, y, epochs=100, verbose=0)

In [10]:
input_sequence = df['Cases'].values[-n_steps:]
input_sequence = input_sequence.reshape((1, n_steps, n_features))

In [11]:
next_number = model.predict(input_sequence)
print("Predicted next number:", next_number)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 68ms/step
Predicted next number: [[6.782597e+08]]

In [12]:
input_sequence

array([[[676213378],
        [676392824],
        [676570149]]])